// User View
.user {
  ul {
    li {
      padding-right: 2vw;

      a {
        cursor: pointer;

        &:hover {
          color: #212529;
        }
      }
    }
  }

  .card {
    overflow: hidden;
    padding: 1vw;
    height: 100%;
    display: flex;
    justify-content: space-between;

    img {
      width: 10.980966325036604vw; //150px
      height: 10.980966325036604vw; //150px
      margin-bottom: 15px;
      transition: .3s ease-in-out;

      &:hover {
        transition: .3s ease-in-out;
        transform: scale(1.1);
      }
    }

    .card-text {
      padding: .8vw 0;
    }

    .desc {
      padding: .7vw 0;
    }

  }
}


// Admin View
.admin {
  .card {
    position: relative;
    height: auto;
    margin: 25px;
    padding: 1.5vw 0 32vw 2vw;

    h5 {
      color: #212529;
    }
  }

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    img {
      text-decoration: none;
      color: inherit;
      border: none;
      outline: none;
      height: 162px;
      width: 250px;
      margin: 20px 0;
    }

    h4, h6 {
      font-weight: 400;
    }

    h6 {
      color: grey;
      padding: 1vw 0;
    }

    .btn {
      font-size: 14px !important;
      margin-top: 20px !important;
      font-weight: 400;
      padding: 12px 72px;
      border-radius: 3px !important;
    }
  }

  .card-table {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: auto;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .25rem;

    tbody {
      img {
        width: 7vw;
      }

    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;

    button {
      margin: 0 1vw 1.2vw 1vw;
    }
  }

  .t-center {
    text-align: center;
  }
}

//  Responsive

@media only screen and (max-width: 1024px) {

  .user {

    ul {
      li {
        padding-right: 4vw;
      }
    }

    .card {
      padding: 2vw;

      img {
        width: 20vw;
        height: 20vw;
        margin-bottom: 2vw;
      }

      .card-text {
        padding: 2vw 0;
      }

      .desc {
        padding: 2vw 0;
      }

      button {
        font-size: 2.2vw;
      }

    }

  }

  .admin {

    .negative-container-fluid {
      padding-right: 1vw;
      padding-left: 1vw;
    }

    .card {
      margin: 3vw;
      //padding: 1.5vw 0 32vw 2vw;
    }

    .center {

      img {
        height: 40vw;
        width: 60vw;
        margin: 20px 0;
      }


      //.btn {
      //  font-size: 14px !important;
      //  margin-top: 20px !important;
      //  font-weight: 400;
      //  padding: 12px 72px;
      //  border-radius: 3px !important;
      //}
    }

    .card-table {
      border: 1.5px solid rgba(0, 0, 0, 0.2);
      border-radius: .25rem;

      //tbody {
      //  img {
      //    width: 7vw;
      //  }
      //
      //}
    }

  }
}

@media only screen and (max-width: 767px) {

  .user {

    ul {
      display: flex;
      justify-content: space-between;

      li {
        padding-right: 0;
      }
    }

    .card {
      padding: 4vw;

      img {
        width: 40vw;
        height: 40vw;
        margin-bottom: 2vw;
      }

      .card-text {
        padding: 4vw 0;
      }

      .desc {
        padding: 3vw 0;
      }

      button {
        font-size: 3.5vw;
      }

    }

  }


}
