.input-group {
  margin-left: 1vw;
}

.nav-link {
  font-size: 1.4vw;
}

.cart {
  position: relative;

  .fa-shopping-cart {
    color: #fff;
    width: 2.2vw;
    margin-left: 2vw;
    height: auto;
  }

  span {
    position: absolute;
    top: -0.89vw;
    right: -0.5124450951683748vw; //-7px
    font-size: 0.5856515373352855vw; //8px
  }
}

nav {
  position: fixed;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 4px 6px rgb(0 0 0 / 16%);
}


