.input-group {
  margin-left: 1vw;
}

.nav-link {
  font-size: 1.4vw;
}

.cart {
  position: relative;

  .fa-shopping-cart {
    color: #fff;
    width: 2.2vw;
    margin-left: 2vw;
    height: auto;
  }

  span {
    position: absolute;
    top: -0.89vw;
    right: -0.5124450951683748vw; //-7px
    font-size: 0.5856515373352855vw; //8px
  }
}

nav {
  position: fixed;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 4px 6px rgb(0 0 0 / 16%);
}

//  Responsive

@media only screen and (max-width: 1024px) {
  .text {
    font-size: 3vw;
  }

  .cart {

    .fa-shopping-cart {
      width: 4.2vw;
    }

    span {
      top: -2.3vw;
      right: -1.512445vw;
      font-size: 1.2vw;
    }
  }
}

@media only screen and (max-width: 767px) {

  // Just for now because of time
  nav {
    display: none;
  }
}

